.form {
  display: flex;
  flex-direction: column;
}

.registration-btn {
  width: 130px;
  height: 50px;
  color: white;
  background-color: rgb(65, 65, 65);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.field-container {
  height: 40px;
  position: relative;
}

.field-container {
  margin-top: 10px;
}

.text-input {
  color: #b6b6b6;
  position: absolute;
  top: 4px;
  transition: top 0.1s linear;
  cursor: text;
  user-select: none;
}

.field-container:has(.field:focus) .text-input,
.field-container:has(.field:not(:placeholder-shown)) .text-input {
  font-size: 0.7rem;
  top: -8px;
}

.field {
  border: none;
  padding: 0;
  border-bottom: 1px solid #b6b6b6;
  width: 300px;
  height: 35px;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
}

.field:focus {
  border-color: #646d6d;
}

.error {
  color: rgb(223, 0, 0);
  position: absolute;
  top: 19px;
  left: 307px;
  width: max-content;
}

@media (max-width: 640px) {
  .error {
    left: 210px;
  }

  .field {
    width: 200px;
  }

  .hide-show-password {
    left: 165px;
  }
}
